<!DOCTYPE html>
<html>
<head>
  <title>Main</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="/static/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <style>
    pre {
      overflow: auto;
      white-space: pre-wrap;
      word-wrap: break-word;
    }
  </style>
</head>

<body id="main_body">
  <br>
  <br>

    <form method="post">

      <h4  style="color: tomato;">If you want to see User-Database click Button( Database )</h4>

      <button name="btn_table" type="submit" class="btn btn-warning"> Database </button>

      <br>
      <br>

    <h1>Hello {{ usn }}. <br> this is your free json</h1>
      
    <br>


    
    <div id="json-container">

        {{data}}

    </div><br>

</form>



  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
