<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">

</head>
<body  id="reg_body">

  <form method="post">
    
    <div class="container d-flex justify-content-center align-items-center" style="height: 100vh">
      <div class="col-md-6">
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>
     <br>


          <h1 class="text-center mb-4" style="color: darkorange;">Registration</h1>
      <br>
          {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for iii in messages %}
                <h2 style="color: red;">{{ iii }} </h2>
            {% endfor %}

          {% endif %}
      {% endwith %}  

      <br>     
      <h1> v2 works done....</h1>

          <div class="form-group">
            <h4 style="color: orange;"> <label for="name">Name:</label> </h4>
            <input name="reg_name_input" type="text" class="form-control" id="name" placeholder="Enter name">
          </div>
          <div class="form-group">
            <h4 style="color: orange;">   <label for="age">Age:</label></h4>
            <input name="reg_age_input" type="number" class="form-control" id="age" placeholder="Enter age">
          </div>
          <div class="form-group">
            <h4 style="color: orange;"> <label for="email">Email:</label></h4>
            <input name="reg_email_input" type="email" class="form-control" id="email" placeholder="Enter email">
          </div>
          <div class="form-group">
            <h4 style="color: orange;">  <label for="password">Password:</label></h4>
            <input name="reg_password_input" type="password" class="form-control" id="password" placeholder="Enter password">
          </div>
          <div class="form-group">
           <h4 style="color: orange;"> <label for="repassword">Re-type Password:</label> </h4>
            <input name="reg_re_password_input" type="password" class="form-control" id="repassword" placeholder="Re-enter password">
          </div>

              <br>
              <br>
          
    
          <button type="submit" class="btn btn-primary btn-block">Submit</button><br>
          <button name="back_btn" type="submit" class="btn btn-warning btn-block">Back</button><br>
          <br>
          <br>
          <br>
    
     
      </div>
    </div>  



  </form>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
</body>
</html>
                

